
.nameCard {
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 20px;
  border: 2px solid black;
}

.name {
  background: #00843D;;
  color: white;
  /* padding: 3px; */
}

.tagline {
  background: white;
  color: black;
  border-top: 1px solid black;
}