
.nameCard {
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 25px
}

.name {
  background: #00843D;;
  color: white;
  padding: 3px;
}

.tagline {
  background: white;
  color: black;
  border-top: 1px solid black;
}