#sidebar {
  position:fixed;
  top: 0;
  width: 100%;
  text-align: center;
  font-family: "Roboto Mono", sans-serif;
  font-size: 25px;
}

#sidebar ul {
  display: flex;
  justify-content: space-evenly;
  background: #00843D;;
}

#sidebar li {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
}

#sidebar li.nav-item {
  padding-top: 1.5%;
}

#sidebar li.link {
  padding-top: 1.5%;
}

#sidebar a {
  color: white;
  text-decoration: none
}

#sidebar  li.nav-item :hover {
  color: #00843D;;
  background: white;
}

@media only screen and (max-width: 1000px)  {
  .dropdown-content {
    visibility: hidden;
  }
}