#logobar {
  justify-content: space-evenly;
  margin-top: 0px;
  background: white;
  padding-top: 7px;
  border-top: 1px solid black;
}

#logobar a {
  color: blue
}

.buttonLogo {
  width: 32px;
  margin-right: 5px;
}

@media only screen and (max-width: 1000px)  {
  #logobar {
    visibility: hidden;
  }
}