#portfolio {
  align-items: center;
}

.projects {
  display: flex;
  align-items: center;
  margin: 0 1vw;
}

.work {
  align-items: center;
  text-align: center;
  margin: 0
}

#explain {
  margin: 15px
}

.portfolio-card {
  height: 450px;
  width: 35%;
  background: white;
  border: 3px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 15px;
}

.portfolio-card-header {
  background: #008000;
  padding-top: 0;
  align-items: center;
  border-radius: 5px 5px 0 0
}

.portfolio-card-body {
  background: white;
  margin-bottom: 10px;
  padding-bottom: 0;
}

.description {
  font-size: 25px;
}

.app-link {
  color: white;
  font-family: 'Bree Serif', serif;
  font-size: 30px;
}

.portfolio-logo {
  width: 50px;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .projects {
    display: block;
    width: 90%
  }

  .portfolio-card {
    height: 450px;
    width: 100%;
    position: inherit;
  }

.description {
  font-size: 14pt;
}

}